*.class

### Package Files ###
*.jar
*.war
*.ear

### Eclipse ###
.classpath
.project
.settings/
 
### Intellij ###
.idea/
*.iml
*.iws
*.ipr
out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
 
#### Mac ###
.DS_Store
 
### Maven ###
log/
target/
